.cover-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  gap: 12px;
  color: #444;

  .cart {
    display: flex;
    gap: 20px;
    width: 30vw;
    height: 12vh;
    align-items: center;
    padding: 8px;
    flex-wrap: nowrap;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    img {
      width: 100px;
    }
    .desc-cart {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      .price-quantity {
        display: flex;
        width: 100%;
        color: navy;
        justify-content: space-between;
      }
      .action-quantity {
        display: flex;
        gap: 7px;

        button {
          border: none;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        }

        button:hover {
          background: #444;
          color: #fff;
        }
      }
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    padding: 5px;
    align-items: center;
  }
  .checkout {
    padding: 0.25rem;
    font-size: 1rem;
    background: #444;
    color: #fff;
    border: 0.1rem solid #444;
    width: 30vw;
  }
  .checkout:hover {
    background: #111;
  }
}
